extend layout
block content
	.contact
		img(src="/images/contact/Josh.jpg")
		h2 Josh Harris
		h3 Dude - Developer
		a(href="mailto:joshua40harris@gmail.com") joshua40harris@gmail.com
	.contact
		img(src="/images/contact/Jill.jpg")
		h2 Jill Russek
		h3 Supreme Ruler - Developer
		a(href="mailto:jill.c.russek@gmail.com") jill.c.russek@gmail.com
	.contact
		img(src="/images/contact/Brian.jpg")
		h2 Brian Posadas
		h3 Grandimator - Artist
		a(href="mailto:14posad@gmail.com") 14posad@gmail.com
