extend layout
block head
	script(type="text/javascript", src="/scripts/home.js")
block content
	.container
		#image_fader
			img(src="/images/games/Gravity_PreBuy.jpg")
			img(src="/images/games/Gravity_Buy.jpg")
			img(src="/images/games/Gravity_PreDrop.jpg")
			img(src="/images/games/Gravity_Drop.jpg")
		h2 Graviti Rush
		p The time has come to expand into the final frontier, and you have been chosen as the pilot that will carry out that mission.  With a powerful new brand of spaceship that can enhance and negate the effect of gravity, you will be charged with the mission of spreading life throughout the galaxies.  Are you ready to change the future of the human race?
		div &lt;In Development&gt;
